wwwroot/profilepictures/
C:/ImageStorage/profilepictures/

bin/
obj/
*.dll
*.exe
*.log
*.pdb
*.cache
*.lock
*.db

appsettings.Local.json
secrets.json

# 📌 Ignorar configuraciones de usuario y VSCode
.vscode/
*.suo
*.user
*.csproj.user

packages/
*.nupkg
project.lock.json


logs/
*.log
debug.log


.DS_Store
Thumbs.db
